{% extends "core/base.html" %}


{% block content %}
  
{% endblock content %}

{% block anon_content %}
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="row text-dark bg-light">
       <div class="container">
          <h1>Login to your account </h1>
           <p></p>
           <h></h>
          <form action="" method="post">
             {% csrf_token %}
              {{ form }}
              <button class="btn btn-success" type="submit">Login</button>
          </form>
        </div>             
    </div> 
  </div>  
</div>  
{% endblock anon_content %}